{% include "header.html" %}
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1686692139745-6fa3e61ec26a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              <h1>404 - Not Found</h1>
              <br>
            <h2> Oops! The page you're looking for seems to be lost in cyberspace.</h2>
            <br>
            <span class="subheading">The page you were searching for has slipped through the digital cracks. But don't worry, we're here to guide you back on track. Our cyber navigators are working tirelessly to reunite you with the content you seek. In the meantime, feel free to explore other areas of our virtual universe. </span>

          </div>
        </div>
      </div>
    </div>
  </header>
{% include "footer.html" %}