{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:url('https://images.unsplash.com/photo-1553374402-559e8b431161?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to our blog! We provide platform to group of passionate writers and content creators who love sharing their knowledge and experiences with others. Our goal is to create a community where people can come to learn, connect, and be inspired.</p>
        <p>Our team is made up of diverse individuals with different backgrounds and areas of expertise. Some of us are seasoned writers, while others are just starting out. We come from all walks of life and have unique perspectives on the world.</p>
        <p>What brings us together is our love for writing and our desire to create content that informs, entertains, and educates. We're dedicated to producing high-quality blog posts that are engaging and thought-provoking.</p>
        <p>We're constantly exploring new topics and ideas to write about, and we welcome feedback and suggestions from our readers. Our aim is to create a community where everyone feels welcome and included.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}